parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Legacy/CoffeeScript
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#expects GdImage#'
            path: src/Image/GdImageProcessor.php
        -
            message: '#never returns resource#'
            path: src/Image/GdImageProcessor.php
